.menu-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu-header li {
    float: left;
}

.menu-header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-header a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}