.child {
    color: aqua;
}

.input-form-user {
    display: flex;
    flex-direction: column;
}

/* .gender-and-button {
    width: 80%;
    display: flex;
    justify-content: space-between;
} */

/* .user-form input {
    border-radius: 10px;
    width: 100%;
}



.user-form div div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.login-form input {
    border-radius: 10px;
    width: 100%;
}



.login-form div div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.login-form .input-form {
    display: flex;
    flex-direction: column;
}

.input-form button {
    width: 5%;
    height: 40px;
}

.select-gender input {
    display: flex;
    justify-content: center;
    align-items: center;

} */